.container {
  width: 100vw;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  transition-duration: 2s;
  transition-property: width;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:hover .box {
  width: 600px;
}

.one {
  font-size: medium;
  background: #07beb8;
  transition-timing-function: linear;
  transition-property: all;
}

.one:hover {
  font-size: xx-large;
}

.two {
  background: #3dccc7;
  text-shadow: none;
  transition-delay: 0.5s;
  transition-timing-function: ease-in;
  transition-property: text-shadow all;
}

.two:hover {
  text-shadow: 5px 5px salmon;
}

.three {
  background: #9ceaef;
  transition-delay: 1s;
  transition-timing-function: ease-out;
  transition-property: all;
}

.three:hover {
  color: magenta;
}

.four {
  background: #b1f8f2;
  transition-delay: 1.5s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.four:hover {
  background: mediumpurple;
}
