* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Enriqueta', serif;
    background-color: darkolivegreen;
    color: #f3f3f3;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    font-size: large;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

.container {
    display: inline-block;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}